// Color Variables
$green: #03a591;
$ta-green: #09ae86;
$orange: #fa8e01;
$purple: #4300d2;
$dark-purple: #270570;
$dark-gray: #444444;
$gray: #666666;
$light-gray: #888888;
$white: #ffffff;


// Text Sizes
$text-xxl: 2rem; // 32px
$text-xl: 1.75rem;  // 28px
$text-l: 1.5rem; // 24px
$text-lm: 1.3rem; // ~20px
$text-m: 1rem; // 16px
$text-sm: 0.88rem; // 14px
$text-xs: 0.75rem; // 12px
$text-xxs: 0.69rem; // 11px
