// Color Variables
$green: #03a591;
$ta-green: #09ae86;
$orange: #fa8e01;
$purple: #4300d2;
$dark-purple: #270570;
$dark-gray: #444444;
$gray: #666666;
$light-gray: #888888;
$very-light-gray: #CCCCCC;
$white: #ffffff;

$transition-1: 0.2s ease-in;

$border-1-light-gray: 1px solid $very-light-gray;

$shadow-1:  0 12px 20px rgba(68,68,68,.2);

// Text Weights
$text-regular: 400;
$text-semibold: 500;

// Text Sizes
$text-xxl: 2rem; // 32px
$text-xl: 1.75rem;  // 28px
$text-lg: 1.5rem; // 24px
$text-lm: 1.3rem; // ~20px sorry for the weird name it's supposed to be between large and medium
$text-md: 1rem; // 16px
$text-sm: 0.88rem; // 14px
$text-xs: 0.75rem; // 12px
$text-xxs: 0.69rem; // 11px

// Borders
$border-radius: 4px;
$borer-radius-btn-round: 24px;

// Grid Breakpoints
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1366px;
