.icon {
    font-family: eva-font;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

// Icon sizes 
.icon--sm {
    font-size: $text-sm;
}

.icon--lm {
    font-size: $text-lm;
}

.icon--lg {
    font-size: $text-lg;
}

.icon--xl {
    font-size: $text-xl;
}

// only coded the content code for the icons used in this particular exercise

.icon--star:before {
    content: "\f127"
}

.icon--wifi:before {
    content: "\f149"
}

.icon--parking:before {
    content: "\f097"
}

.icon--coffee:before {
    content: "\f041"
}

.icon--info-circle-outline:before {
    content: "\f074"
}

.icon--info-circle:before {
    content: "\f075"
}

.icon--info:before {
    content: "\f209"
}

.icon--plane-depart:before,
.icon--plane-return:before {
    content: "\f001"
}

.icon--plane-return {
  transform: rotate(180deg);  // a bit hacky, but my icons font file couldn't find the plane
}

.icon--radio-circle {
    border-color: $purple;
    background-color: $white;
    border-radius: 100%;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-bottom: -4px;
    border: 1px solid $purple;
    background-color: $white;
    overflow: hidden;
}

.icon--radio-circle:before {    
    border-radius: 100%;
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    width: 12px;
    height: 12px;
    margin: -3px 0 0 -3px;
    background-color: $purple;
}

.icon--single:before {
    content: "\f117";
}

.icon--handbag:before {
    content: "\f071";
}

.icon--backpack:before {
    content: "\f239";
}

.icon--arrow-down:before {
    content: "\f008";
}